*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root{
  font-family: Arial, Helvetica, sans-serif;
}

nav{
  width: 100%;
  padding: 20px;
  background: green;
  display: flex;
  gap: 10px;
  a{
    color: white;
    padding: 10px;
    border: 1px solid white;
    text-decoration: none;
    font-variant: small-caps;
    border-radius: 5px;
    font-weight: bold;
  }
}

main{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  padding: 20px;
  gap: 10px;
  max-width: 1000px;
  margin: auto;

  a{
    display: flex;
    align-content: center;
    text-align: center;
    aspect-ratio: 2 / 1;
    background-color: gray;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    padding: 10px;
  }
}

.userPage{
  width: 100%;
  min-height: 50vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  ul{
    display: flex;
    flex-direction: column;
    list-style-type: none;

    gap: 20px;
    margin-top: 20px;
    li{
      padding: 10px;
      border-radius: 5px;
      box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.2);
      display: flex;
      justify-content: space-between;
      align-items: center;
      gap: 10px;

      a{
        text-decoration: none;
        color: black;
        font-size: 1.5rem;
      }

      button{
        padding: 10px;
      }
    }
  }
}